<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmiana hasła</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="clientRegistrationForm.css">
    <script src="/changePassword-validator.js"></script>
</head>
<body>
<div class="container">
    <h1>Zmień Hasło</h1>
    <div id="info"></div>
    <form th:action="@{/changePassword}" method="post" th:object="${user}" onsubmit="return validate()">

        <div th:if="${passwordChanged}" th:text="${passwordChanged}">passwordChanged</div>
        <div th:if="${incorrectPassword}" th:text="${incorrectPassword}">incorrectPassword</div>


        <div class="form-group">
            <label for="currentPassword">Aktualne Hasło:</label>
            <input type="password" id="currentPassword" th:field="*{oldPassword}" required>
        </div>
        <div class="form-group">
            <label for="newPassword">Nowe Hasło:</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" required>
        </div>
        <div class="form-group">
            <label for="confirmedPassword">Potwierdź Nowe Hasło:</label>
            <input type="password" id="confirmedPassword"  required>
        </div>
        <button type="submit" class="password-change-button">Zmień Hasło</button>
    </form>
    <footer>
        <p>&copy; 2023 Rezerwacja Stolików w Restauracjach</p>
    </footer>
</div>
</body>
</html>
