<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmiana hasła</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="clientForm.css">
    <script src="/changePassword-validator.js"></script>
</head>
<body>
<h1>Zmień Hasło</h1>
<form th:action="@{/zmien-haslo}" method="post" onsubmit="return validate()">

    <div id="info"></div>

    <div th:if="${correctChange}" th:text="${correctChange}">correctChange</div>
    <div class="form-group">
        <label for="currentPassword">Aktualne Hasło:</label>
        <input type="password" id="currentPassword" name="currentPassword" required>
    </div>
    <div class="form-group">
        <label for="password">Nowe Hasło:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="form-group">
        <label for="password">Potwierdź Nowe Hasło:</label>
        <input type="password" id="password2" name="password2" required>
    </div>
    <button type="submit" class="password-change-button">Zmień Hasło</button>
</form>
<footer>
    <p>&copy; 2023 Rezerwacja Stolików w Restauracjach</p>
</footer>
</body>
</html>
