<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja Klienta</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="clientRegistrationForm.css">
</head>
<body>
<div class="container">
    <header>
        <div id="logo">
            <img src="logo.png" alt="Logo Aplikacji">
        </div>
    </header>

    <main>
        <h1 class="registration-header">Rejestracja Klienta</h1>
        <form th:action="@{api/registerClient}" method="post" th:object="${client}">
            <div class="form-group">
                <label for="firstName">Imię:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
            </div>

            <div class="form-group">
                <label for="lastName">Nazwisko:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required >
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
            </div>

            <div class="form-group">
                <label for="phone">Nr telefonu:</label>
                <input type="tel" id="phone" name="phone" th:field="*{phone}" required>
            </div>

            <button type="submit" class="registration-button">Zarejestruj</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2023 Rezerwacja Stolików w Restauracjach</p>
    </footer>
</div>
</body>
</html>
