<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="logout" id="logout" th:fragment="logout">
    <div th:if="${logged}">
        <p>Zalogowano jako <span th:text="${user.firstName}"></span></p>
        <div class="buttony">
        <form th:action="@{/logout}" method="get">
            <button type="submit" class="button">Wyloguj</button>
        </form>
        <form th:action="@{/konto}" method="get">
            <button type="submit" class="button">Konto</button>
        </form>
        </div>
    </div>
</div>