<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rezerwacja Stolików w Restauracjach</title>
    <link rel="stylesheet" type="text/css" href="common.css">

</head>
<body>
<div class="container">
    <header>
        <div id="logo">
            <img src="logo.png" alt="Logo Aplikacji">
        </div>
    </header>

<main>
    <h1>Witaj w naszej aplikacji!</h1>
    <p>Zarezerwuj stolik i ciesz się pysznym jedzeniem.</p>

    <div id="buttons">
        <a href="/login" th:href="@{/login}">Zaloguj się</a>
        <a href="/register" th:href="@{/register}">Zarejestruj się</a>
    </div>
</main>

<footer>
    <p>&copy; 2023 Rezerwacja Stolików w Restauracjach</p>
</footer>
</body>
</html>
