<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="fragments.css">
</head>
<body>
<div class="container">
    <div th:replace="~{fragments.html :: logout}"></div>
    <main>

        <table>
            <thead>
            <tr>
                <th>Nazwa restauracji</th>
                <th>Status</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>

            <p th:if="${param.statusUpdated}">Status został zaktualizowany!</p>


            <tr th:each="restaurant : ${restaurants}">
                <td th:text="${restaurant.restaurantName}"></td>
                <td th:text="${restaurant.status}"></td>

                <td>
                    <form th:action="@{manageRestaurants/{restaurantId}/verify(restaurantId=${restaurant.id})}"
                          method="post">
                        <label for="status">Wybierz status:</label>
                        <select id="status" name="status">
                            <option value="" selected disabled>Wybierz</option>
                            <option th:each="status : ${T(pl.application.reservation.tables.restaurant.model.Restaurant.Status).values()}"
                                    th:value="${status}" th:text="${status}"></option>
                        </select>
                        <button type="submit">Aktualizuj Status</button>
                    </form>
                </td>
            </tr>

            </tbody>
        </table>
    </main>
    <header>
        <div id="logo">
            <img src="logo.png" alt="Logo Aplikacji">
        </div>
    </header>


    <footer>
        <p>&copy; 2023 Rezerwacja Stolików w Restauracjach</p>
    </footer>
</div>
</body>
</html>
