<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja Restauracji</title>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="restaurantRegistrationForm.css">
</head>
<body>
<div class="container">
    <header>
        <div id="logo">
            <img src="logo.png" alt="Logo Aplikacji">
        </div>
    </header>
    <main>
        <h1 class="registration-header">Rejestracja Restauracji</h1>
        <form th:action="@{/restaurantRegistrationForm/registerRestaurant}" method="post" th:object="${restaurant}">

            <div id="info"></div>

            <div class="form-group">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" th:field="*{login}" required>
                <div th:if="${loginError}" th:text="${loginError}">loginError</div>
            </div>

            <div class="form-group">
                <label for="firstName">Imię:</label>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" required>
            </div>

            <div class="form-group">
                <label for="lastName">Nazwisko:</label>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" required>
            </div>

            <div class="form-group">
                <label for="restaurantName">Nazwa Restauracji:</label>
                <input type="text" id="restaurantName" name="restaurantName" th:field="*{restaurantName}" required>
            </div>

            <div class="form-group">
                <label for="address">Adres:</label>
                <input type="text" id="address" name="address" th:field="*{address}" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required>
                <div th:if="${emailError}" th:text="${emailError}">emailError</div>
            </div>

            <div class="form-group">
                <label for="phone">Nr telefonu:</label>
                <input type="tel" id="phone" name="phone" th:field="*{phoneNumber}" required>
            </div>

            <div class="form-group">
                <label for="password">Hasło:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <label for="password2">Powtórz Hasło:</label>
                <input type="password" id="password2" name="password2" required>
            </div>

            <div class="form-group">
                <h1>Godziny otwarcia:</h1>

                <div class="opening-hours">
                    <div class="opening-hours-row">

                        Poniedziałek:
                        <input type="text" id="openingTimeMonday" name="openingTimeMonday"
                               th:field="*{openingTimeMonday}"
                               placeholder="HH:MM"
                               required>
                        -
                        <input type="text" id="closingTimeMonday" name="closingTimeMonday"
                               th:field="*{closingTimeMonday}" placeholder="HH:MM"
                               required>
                        <input type="checkbox" id="mondayClosed" name="mondayClosed">
                        <label for="mondayClosed" class="closed-label">Zamknięte</label>
                    </div>
                    <div class="opening-hours-row">
                        Wtorek:
                        <input type="text" id="openingTimeTuesday" name="openingTimeTuesday"
                               th:field="*{openingTimeTuesday}"
                               placeholder="HH:MM" required>
                        -
                        <input type="text" id="closingTimeTuesday" name="closingTimeTuesday" placeholder="HH:MM"
                               th:field="*{closingTimeTuesday}"
                               required>
                        <input type="checkbox" id="tuesdayClosed" name="tuesdayClosed">
                        <label for="tuesdayClosed" class="closed-label">Zamknięte</label>
                    </div>
                    <div class="opening-hours-row">
                        Środa:
                        <input type="text" id="openingTimeWednesday" name="openingTimeWednesday"
                               th:field="*{openingTimeWednesday}"
                               placeholder="HH:MM" required>
                        -
                        <input type="text" id="closingTimeWednesday" name="closingTimeWednesday"
                               th:field="*{closingTimeWednesday}"
                               placeholder="HH:MM" required>
                        <input type="checkbox" id="wednesdayClosed" name="wednesdayClosed">
                        <label for="wednesdayClosed" class="closed-label">Zamknięte</label>
                    </div>
                    <div class="opening-hours-row">
                        Czwartek:
                        <input type="text" id="openingTimeThursday" name="openingTimeThursday"
                               th:field="*{openingTimeThursday}"
                               placeholder="HH:MM" required>
                        -
                        <input type="text" id="closingTimeThursday" name="closingTimeThursday"
                               th:field="*{closingTimeThursday}" placeholder="HH:MM"
                               required>
                        <input type="checkbox" id="thursdayClosed" name="thursdayClosed">
                        <label for="thursdayClosed" class="closed-label">Zamknięte</label>
                    </div>
                    <div class="opening-hours-row">
                        Piątek:
                        <input type="text" id="openingTimeFriday" name="openingTimeFriday"
                               th:field="*{openingTimeFriday}" placeholder="HH:MM"
                               required>
                        -
                        <input type="text" id="closingTimeFriday" name="closingTimeFriday"
                               th:field="*{closingTimeFriday}" placeholder="HH:MM"
                               required>
                        <input type="checkbox" id="fridayClosed" name="fridayClosed">
                        <label for="fridayClosed" class="closed-label">Zamknięte</label>
                    </div>
                    <div class="opening-hours-row">
                        Sobota:
                        <input type="text" id="openingTimeSaturday" name="openingTimeSaturday"
                               th:field="*{openingTimeSaturday}"
                               placeholder="HH:MM" required>
                        -
                        <input type="text" id="closingTimeSaturday" name="closingTimeSaturday"
                               th:field="*{closingTimeSaturday}" placeholder="HH:MM"
                               required>
                        <input type="checkbox" id="saturdayClosed" name="saturdayClosed">
                        <label for="saturdayClosed" class="closed-label">Zamknięte</label>
                    </div>
                    <div class="opening-hours-row">
                        Niedziela:
                        <input type="text" id="openingTimeSunday" name="openingTimeSunday"
                               th:field="*{openingTimeSunday}" placeholder="HH:MM"
                               required>
                        -
                        <input type="text" id="closingTimeSunday" name="closingTimeSunday"
                               th:field="*{closingTimeSunday}" placeholder="HH:MM"
                               required>
                        <input type="checkbox" id="sundayClosed" name="sundayClosed">
                        <label for="sundayClosed" class="closed-label">Zamknięte</label>
                    </div>
                </div>
            </div>

            <button type="submit">Zarejestruj</button>
        </form>
    </main>

    <footer>
        <p>&copy; 2023 Rezerwacja Stolików w Restauracjach</p>
    </footer>
</div>
<script src="hoursCheckbox.js"></script>
</body>
</html>
